section(xml:id="section-Strings")
    title Strings

    p.
        A <em>string</em> is a list of characters.
        This could be one character, a word, a sentence, a paragrah, or longer.
        It could have numbers or special characters as well.
        When you want to print a string, you need to start that string with either a ' or " and end it which ever you started it with.

    subsection(xml:id='subsection-specialcharacters')
        title Dealing with special characters

        p.
            There are special characters that we sometimes need to deal with in order to create a valid string.
            We are now going to look at some invalid strings, then discuss how to change them.

        alert These are not valid strings:

        ul
            li <c>'Sarah isn't her name.'</c> because Python in this case thinks the string stops at the ' in isn't.
            li <c>"He said"He's going home.""</c> because Python in this case thinks the string stops at the " found in the dialogue"He's going home".