section(xml:id="section-syntax")
    title Syntax

    p.
        Defining syntax - the set of rules that the computer follows to run code.

    p.
        In lesson one you did the classical Hello World that any coding tutorial will have you do.
        Now we're going to debilerately execute invalid code to learn about syntax errors.

    p.
        Type the code from below this box. Remove the quotes.
        Execute the code using what you learned in the first box.
        Do not copy and paste as this is an exercise in the importance of syntax.

    sage(language='python')
        input
            | print Hello world
    p results in
    pre.
        File "&lt;string&gt;", line 1
            print Hello world
                            ^
        SyntaxError: invalid syntax

