doctype xml

mathbook

    docinfo

    article(xml:id="smc-python-tutorial")
        title SMC Python Tutorial

        frontmatter
            titlepage
                author
                    personname Christine Miles and Timothy Clemans

                date
                    today/

            abstract
                p.
                    This is an introduction to Python for working with SageMath

        include ./chapter-1.pug
        include ./chapter-2.pug
