doctype xml

mathbook(xml:lang="en-US")

    docinfo

    book(xml:id="smc-python-tutorial")
        title Python for Math and Science
        subtitle A casual introduction to programming with Python

        frontmatter
            titlepage
                author
                    personname Harald Schilly
                author
                    personname Christine Miles
                author
                    personname Timothy Clemans

                date
                    today/

            preface
                p.
                    This tutorial is intended for ...
                p.
                    This is an introduction to Python for mathematicians and scientists.
                    It prepares you to work with SageMath, PyData tools and many other packages.


        chapter(xml:id="cc-intro")
        include cc-quickstart.pug

        chapter(xml:id="chap-introduction")
        include basics-intro.pug

        chapter(xml:id='basics-programming')
        include basics-programming.pug

        chapter(xml:id="basics-strings")
        include basics-strings.pug

        chapter(xml:id="basics-syntax")
        include basics-syntax.pug

        chapter(xml:id='ch-techniques')
